@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v7sn8w');
  src:  url('fonts/icomoon.eot?v7sn8w#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v7sn8w') format('truetype'),
    url('fonts/icomoon.woff?v7sn8w') format('woff'),
    url('fonts/icomoon.svg?v7sn8w#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e986";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-search1:before {
  content: "\e987";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-cancel-circle1:before {
  content: "\ea0e";
}
.icon-checkmark1:before {
  content: "\ea11";
}
.icon-invoice:before {
  content: "\e90a";
}
.icon-invoice1:before {
  content: "\e90b";
}
.icon-file:before {
  content: "\e90f";
}
.icon-clipboard-list:before {
  content: "\e90c";
}
.icon-documents:before {
  content: "\e906";
}
.icon-inbox-download:before {
  content: "\e90e";
}
.icon-retweet:before {
  content: "\e908";
}
.icon-lot:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-date:before {
  content: "\e900";
}
.icon-schedule:before {
  content: "\e900";
}
.icon-clipboard-list1:before {
  content: "\e90d";
}
.icon-documents1:before {
  content: "\e909";
}
.icon-lot1:before {
  content: "\e903";
}
.icon-calendar1:before {
  content: "\e901";
}
.icon-date1:before {
  content: "\e901";
}
.icon-schedule1:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e904";
}
.icon-calendar-check-o:before {
  content: "\ca";
}
.icon-truck1:before {
  content: "\e905";
}
.icon-calendar-check-o1:before {
  content: "\cb";
}
